:root {
    --white: #fff,
    --gray-100: #F5F5F5,
    --gray-300: #C8C8C8,
    --blue-500: #125896,
    --blue-900: #0F0617,
    --red: #D82044,
    --black: #000000,
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1440px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {

    html {
        font-size: 87.5%; 
    }
}

@media(max-width: 400px) {
    html {
        font-size: 81.125%;
    }
}

@media(max-width: 350px) {
    html {
        font-size: 75%;
    }
}

h1, h2 {
    font-family: Poppins;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

button {
    font-family: Poppins;
    font-weight: 600;
    color: var(--white);
}

li {
    list-style: none;
}