@media (max-width: 1120px) {
  #intro .intro-content {
    display: block;
    text-align: center;
  }

  #intro .intro-content p {
    margin: 2rem 0;
  }

  #event .event-content {
    display: block;
    text-align: center;
  }

  #event .event-content img {
    display: none;
  }

  .image-background {
    height: 1000px;
  }
}

@media (max-width: 980px) {
  header nav {
    display: none;
  }
}

@media (max-width: 500px) {
  #info .info-cards {
    text-align: center;
  }
}
