header {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 2rem 0;
}

header .logo {
    /* color: var(--white); */
}

nav ul {
    display: flex;
    gap: 1.5rem;
}

header button {
    background: var(--blue-500);
    font-size: 1.25rem;
    padding: 0 1rem;
}

header button:hover {
    transition: .2s;
    filter: brightness(0.9);
}


#event-content{
    display: flex;
    gap:4rem;
    
}
main img{
    width: 32rem;
    height: 32rem;
}
#event{
    display: flex;
    justify-content: space-around;

}
main button {
    background: var(--pink);
    font-size: 1.25rem;
    padding: 0 1rem;
}
#event-button{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

#event h1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

#event p{
    max-width: 50rem;
}