.image-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 650px;
    z-index: -1;
    object-fit: cover;
}
/* HEADER - COMEÇO */
header {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 2rem 0;
}

header .logo {
    color: var(--white);
}

nav ul {
    display: flex;
    gap: 1.5rem;
}

header button {
    background: var(--blue-500);
    font-size: 1.25rem;
    padding: 0 1rem;
}

header button:hover {
    transition: .2s;
    filter: brightness(0.9);
}
/* HEADER - FIM */
/* EVENT - COMEÇO */

#event-content{
    display: flex;
    gap:4rem;
    
}
main img{
    width: 32rem;
    height: 32rem;
}
#event{
    display: flex;
    justify-content: space-around;

}
main button {
    background: var(--pink);
    font-size: 1.25rem;
    padding: 0 1rem;
}
#event-button{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

#event h1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

#event p{
    max-width: 50rem;
}

/* EVENT - FIM */

/* INTRO - INICIO */
#intro .intro-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#intro .intro-content h2 {
    font-size: 2.75rem;
    color: var(--white);
}

#intro .intro-content h1 {
    font-size: 3.5rem;
    color: var(--white);
}

#intro .intro-content p {
    font-size: 1.25rem;
    color: var(--white);
}

#intro .intro-content img {
    width: 25rem;
}

#teachers {
    margin-top: 4rem;
}

#teachers .teachers-content h2 {
    color: var(--red);
}

#teachers .teachers-content {
    max-width: 1200px;
    margin: 0 auto;
}

#teachers .all-teachers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin-top: 1rem;
    gap: 3rem;
}

#teachers .card-teacher {
    display: flex;
    align-items: center;
    background: var(--white);

    padding: 1rem;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); 
}

#teachers .card-teacher img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* INTRO - FIM */